<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rob is a butt</title>
    <!-- STYLES -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
    <link rel="stylesheet" title="cardsize" href="~/Content/css/bigcards.css" type="text/css" media="all" />

    <!-- FONTS -->
    <link href='//fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>

    <!-- SCRIPTS -->
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

    <!-- External Scripts -->
    <script src="~/Content/lib/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/lib/jquery.jeditable.js"></script>
    <script src="~/Content/lib/jquery.blockUI.js"></script>
    <!-- ** My Script ** -->
    <script src="~/Scripts/Scrum.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="footer-text">&copy; @DateTime.Now.Year - Rob Is A Butt</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
